[color]
    ui = auto
[user]
    name = Emanuel Dima
    email = emanueldima@gmail.com
    signingkey = F6AB969B322C6290
[push]
    default = simple
[pull]
    rebase = true
[merge]
    ff = only
    conflictstyle = diff3
[rebase]
    autostash = true
[core]
    excludesfile = /Users/edima/.gitignore_global
    pager = less -+$LESS -FRX
    #pager = delta

[alias]
    ls = log -n 10 --pretty=oneline --abbrev-commit --decorate --branches --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    l = log -n 20 --pretty=oneline --abbrev-commit --decorate --branches --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    ll =  log --pretty=oneline --abbrev-commit --decorate --branches --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --date=short
    llr = log --pretty=oneline --abbrev-commit --decorate --branches --graph --remotes --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --date=short
    st = status -s -b
    s = "!echo; git st; echo; git ls"
    d = "!GIT_EXTERNAL_DIFF=difft git diff -w --minimal"
    dh = "!GIT_EXTERNAL_DIFF=difft git diff -w --minimal HEAD"
    b = branch -v
    co = checkout
    fe = fetch --all
    up = "!git remote update -p; git merge --ff-only @{u}"
    push-up = "!git push -u origin `git b --show-current`"
    my-branches = "!git for-each-ref --format=\"%(refname:lstrip=2)\" refs/heads/ | grep edima"
    main-branch = "!git symbolic-ref refs/remotes/origin/HEAD | cut -f4- -d'/'"
    rebase-my-branches = "!for branch in $(git my-branches); do echo; echo ---- $branch ----; git rebase origin/$(git main-branch) \"$branch\" 2>/dev/null || git rebase --abort; done; git co $(git main-branch); git s"
    delete-merged-branches = "!git branch --format=\"%(refname:lstrip=2)\" --merged | grep edima | xargs echo git branch -d"
    delete-merged-branches-yes = "!git branch --format=\"%(refname:lstrip=2)\" --merged | grep edima | xargs git branch -d"
    get-gh-id = "!git remote get-url origin | grep github | cut -f2 -d: | sed s/.git$//"
    pr = "!git push-up; open https://github.com/`git get-gh-id`/pull/new/`git b --show-current`"
    wip = "!git add --all; git commit -m WIP"
[http]
    postBuffer = 524288000

[rerere]
    enabled = true

[commit]
    gpgsign = true

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[submodule]
	recurse = true
